<h2>Liste des articles</h2>
<ul>
  @for (article of articles ; track $index){
  <li>
    <a [routerLink]="['/article', article.id]" routerLinkActive="active">
      {{ article.title }}
    </a>
  </li>
  } @empty (){
  <p>aucun article trouvé</p>
  }
</ul>

<h2>Détails de l'article</h2>
<p>Article ID: {{ articleId }}</p>
@if (articleId) { @for (article of articles ; track $index) { @if (article.id
=== articleId) {
<div>
  <div>
    <h3>{{ article.title }}</h3>
    <p><strong>Auteur:</strong> {{ article.author }}</p>
    <p>{{ article.content }}</p>
    <img [src]="article.image" alt="{{ article.title }}" />
  </div>
</div>
} }}
