<p>user works!</p>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username"> Username: </label>
    <input type="text" id="username" formControlName="username" />
  </div>
  <div>
    <label for="password"> Password: </label>
    <input type="password" formControlName="password" />
  </div>
  <div>
    <label for="email"> Email: </label>
    <input type="email" id="email" formControlName="email" />
  </div>
  <fieldset formGroupName="address">
    <div>
      <label for="street">Rue:</label>
      <input type="text" id="street" formControlName="street" />
    </div>

    <div>
      <label for="postalCode">Code postal:</label>
      <input type="text" id="postalCode" formControlName="postalCode" />
    </div>

    <div>
      <label for="town">Ville:</label>
      <input type="text" id="town" formControlName="town" />
    </div>
  </fieldset>

  <button type="submit" [disabled]="contactForm.invalid">Sign up</button>
</form>
@if (newContact) {
<div>
  <h2>New user</h2>
  <p>{{ newContact.username }}</p>
  <p>{{ newContact.email }}</p>
  <p>{{ newContact.password }}</p>

  <p>{{ newContact.address.street }}</p>
  <p>{{ newContact.address.postalCode }}</p>
  <p>{{ newContact.address.town }}</p>
</div>
}
